<!DOCTYPE html>
<html>
  <head>
    <title>TherapAI Summarizer</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  </head>
  <body>
    <h1>Therapy Transcript Summarizer</h1>
    <div class="navigation">
      <a href="{{ url_for('dashboard') }}" class="button">View Past Sessions</a>
    </div>
    <form action="/summarize_text" method="post">
      <textarea
        name="text"
        rows="10"
        cols="50"
        placeholder="Enter your therapy session transcript here..."
      ></textarea
      ><br />
      <button type="submit">Summarize</button>
    </form>
    {% if summary %}
    <h2>Summary:</h2>
    <p>{{ summary|safe }}</p>
    {% endif %}
  </body>
</html>
